.App {
  text-align: center;
}

.list {
  text-align: left;
  padding-left: 10px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  width: 20%;
  margin: 0 auto;
}

.invalid-feedback {
  font-size: 15px;
  color: red;
}

.buttons_group{
  width: 100%

}
.outline.something {
margin-right: 5px;
}