.App {
  text-align: center;
}

body {
  background-color: #ffecc6;
}

.list {
  text-align: left;
  padding-left: 10px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  margin: 0 auto;
/*  box-shadow: 0 0 10px #ccc;
*/  border: 1px solid black;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 40%
  }
}

@media only screen and (max-width: 500px) {
  .form {
    width: 80%
  }
}

@media only screen and (max-width: 400px) {
  .form {
    width: 80%
  }
}

.invalid-feedback {
  font-size: 15px;
  color: red;
}

.buttons_group{
  width: 100%;

}
.outline.something {
margin-right: 5px;
}

.reset.button:disabled {
  opacity: 1;
  cursor: not-allowed;
}

.total-landingpage {
  background-color: #ffecc6;
  height:100vh;
}

.landingpage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.signup.button {
  background-color: black;
  border-radius: 0px;
  box-shadow: none;
  padding: 0.8em 1.8em;
}

.signup.button:hover {
  opacity: 0.7;
  background-color: black;
}

.submit.button {
  margin-right: 5px;
  background-color: black;
  border-radius: 0px;
  box-shadow: none;
}

.submit.button:hover {
  opacity: 0.7;
  background-color: black;
}

.buy.item.button {
  background-color: black;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;

}

.buy.item.button:hover {
  opacity: 0.7;
  background-color: black;
}
.reset.button {
  border-radius: 0px;
}

.hero-display {
  display: flex;

}

.title-hero {
  align-self: center;
  max-width: 24em;
  text-align: left;
  margin-left: 100px

}

.map {
  margin: auto;
}

.linkwrapper > * {
  flex: 1 100%;
}

.title {
  text-align: left;
  padding-left: 40px
}

.login-link {
  display: inline-block;
  margin-right: 40px;
  margin-top: 10px;
}

#login {
  background-color: #ffecc6;
  height:100vh;

}

.add-item {
    background-color: #ffecc6;
  height:100vh;
}

#buy-items {
  background-color: #ffecc6;
  height:120vh;
}

#home {
  background-color: #ffecc6;
}

#signup {
  background-color: #ffecc6;
  height:100vh;

}

.signup-link {
  margin-right: 40px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

.status.toggle {
 margin-left: auto;
}

.status-description {
  text-align: left;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.price-inventory-wrapper {
  display: flex;
  width: 100%;
}

.additem.inventory {
  width: 100%;
   margin-left: 10px;

}

.additem.price {
  width: 100%;
}

.buy-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
}

.buy-items-display {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid black;
  margin-bottom: 20px;

}

@media only screen and (max-width: 780px) {
  .buy-items-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .buy-items-wrapper {
    grid-template-columns: 1fr;
  }
}

.buy-item-input-group {
  display: flex;
}


.userInfo {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
}

.my-items {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
}

.password-check {
  color: red;
}









