.App {
  text-align: center;
}

.list {
  text-align: left;
  padding-left: 10px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 40%
  }
}

@media only screen and (max-width: 500px) {
  .form {
    width: 80%
  }
}

@media only screen and (max-width: 400px) {
  .form {
    width: 80%
  }
}

.invalid-feedback {
  font-size: 15px;
  color: red;
}

.buttons_group{
  width: 100%

}
.outline.something {
margin-right: 5px;
}

.reset.button:disabled {
  opacity: 1;
  cursor: not-allowed;
}

.landingpage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.linkwrapper > * {
  flex: 1 100%;
}

.title {
  text-align: left;
  padding-left: 40px
}

.login-link {
  display: inline-block;
  margin-right: 40px;
  margin-top: 10px;
}
.signup-link {
  margin-right: 40px;
  display: inline-block;
  margin-top: 10px;
}





